.jumbotron {
    background-image: url(/sky.jpg);
    background-size: cover;    
  }
  
  .jumbotron h1 {
    color: blue;
    text-shadow: 2px 2px red;
  
  }
  
  .instructions {
    text-align: center; 
  }

  #subwrapper {
      background-image: url(/images/ground.png);
      background-size: cover;
  }